@import url("https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&family=Finlandica:ital,wght@0,400..700;1,400..700&family=Gurajada&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
}

.hero {
  font-family: "Gurajada", sans-serif;
}

.heading {
  font-family: "Chau Philomene One", sans-serif;
}

.ex {
  font-family: "Finlandica", sans-serif;
}
